<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhanghuan.asr_plugin">

    <application>
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="23933456" />

        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="Yi2PDQaKSBx4Dh2cWudvN4K0" />

        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="FcAt4AlZXLz2T4hg3qhNdnWa6Gf3k9Kt" />

        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
</manifest>